In [2]:
from fastai import *
from fastai.text import *

In [3]:
import pandas as pd

In [4]:
import numpy as np
import json

In [5]:
# df = pd.read_csv('data/quotes.csv', sep=r'\<\|\>', header=None, names=['text', 'author'])
# data_df = pd.read_json('myData/bill-bryson.json', lines=True)


with open('myData/bill-bryson.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
df = pd.DataFrame(data)

In [5]:
df = df[['quote', 'author']]
df.head()

                                               quote       author
0  Not one of your pertinent ancestors was squash...  Bill Bryson
1  But that's the glory of foreign travel, as far...  Bill Bryson
2  As my father always used to tell me, 'You see,...  Bill Bryson
3  Tune your television to any channel it doesn't...  Bill Bryson
4  There are three stages in scientific discovery...  Bill Bryson

In [6]:
df['quote'] = df['quote'].str.lower()

In [7]:
valid_pct = 0.05 #validation percent
df = df.iloc[np.random.permutation(len(df))]
cut = int(valid_pct * len(df)) + 1
train_df, valid_df = df[cut:], df[:cut]

In [8]:
# train_df
valid_df.head()

          author                                              quote
506  Bill Bryson  a full moon rose in the pale evening sky and g...
682  Bill Bryson  jennings quotes the response of a contestant i...
280  Bill Bryson  as the physicist paul davies puts it, 'if ever...
679  Bill Bryson  by the late eighteenth century britain’s statu...
487  Bill Bryson  in its first three minutes, according to infla...

In [8]:
len(train_df), len(valid_df)

(720, 38)

In [9]:
nan_rows = df[df['quote'].isnull()]

In [10]:
nan_rows

Empty DataFrame
Columns: [quote, author]
Index: []

In [11]:
data_lm = TextLMDataBunch.from_df('data', train_df, valid_df, text_cols='quote',
                           label_cols='author')

In [9]:
# data_clas = TextClasDataBunch.from_df('data', train_df, valid_df, text_cols='text', label_cols='author', vocab=data_lm.train_ds.vocab, bs=32)

In [12]:
learn = language_model_learner(data_lm, pretrained_model=URLs.WT103, drop_mult=0.5)
learn.fit_one_cycle(1, 1e-2)

In [13]:
learn.unfreeze()
learn.fit_one_cycle(1, 1e-3)

In [14]:
wd=1e-7
lr=1e-3
lrs = lr

In [15]:
learn.fit(10,lrs, wd)

In [16]:
learn.predict("xxbos", n_words=50, temperature=0.75)

'xxbos the general purpose of the precise means of making it was to make a practical sense of how things go . when you get an order of the book , you have to be so on a long flight from london to paris and come back to paris and tell'

In [24]:
number_of_ideas = 50
ideas_counter = 0
all_ideas = []

for i in range(1000):
    idea = learn.predict("xxbos", n_words=20, temperature=0.8)
    ideas = idea.split("xxbos")
    ideas = ideas[1:-1]
    
    for idea in ideas:
        idea = idea.replace("xxbos","").strip()
        if(idea):
            all_ideas.append(idea)
            ideas_counter = ideas_counter+1
#     print(ideas_counter)
            
    if ideas_counter > number_of_ideas:
        break

In [25]:
len(all_ideas)

51

In [26]:
all_ideas

['in a perfect globe , the sun was not in a kind of big box .',
 'the while you can choke off the world , you can be afraid of it .',
 'that is the one thing we do encountered . we have a lot of fun with it .',
 'these species of words are not so interesting , but they take some advantage of them .',
 'for a minute it used to be a famous visitor .',
 'this is the one thing we do n’t do quite well . the',
 'both dirty and clean saw little change in the clothes and products of the era .',
 'if you are not a living thing , it may be sunny .',
 'to be confused , it was a great deal more care than we have been in america .',
 'this is the least interesting thing about the little planet . the',
 'it was my last place in the world to be devoted to the observation of nature .',
 'it is one of those things that make you feel that way . it does even exist .',
 'xxup underwear is a proving ground .',
 'it is often said that when humans die they are not yet actually in the same place .',
 'they are not always the same they are .',
 'he said in it : “ it would be a matter of time to think about it .',
 'just one thing is a bar : the night .',
 'we are not always quite sure how many years we might be there .',
 'the inhabitants of the northern united states are sometimes called the early forms of the word .',
 'the buildings born in it almost universally have a female name .',
 'at one point the only thing about what the british museum called was this rock again .',
 'it is easy to enjoy the luck of life .',
 'your life is always a kind of small and varied business .',
 'the building is mostly of historical significance , since it is not always a place of ease .',
 'to do so , you have the ability to control your own lives .',
 'is the case for a pillow , a cow beaver .',
 'never really fly to the new world .',
 'these are the thirty - three very rare names for their conception .',
 'i live in the twitched of our ancestors ever .',
 '. there is a place where you can be now ; you are the best good at it .',
 'in the twentieth century , not all the people , however , could actually be famous people .',
 'perhaps the most famous fact in the world is that you may be here now .',
 'the man who was on top of an american flying plane is a fly named extinguishing for you .',
 'what a beautiful and wonderful fashion .',
 'the great exhibition was the most extraordinary of all the great exhibition .',
 'it is where we love the state of the universe .',
 'these are the types of things we call the world . one can even be a speaker .',
 'if you could produce a cloud , you would have a wonder still in the land .',
 'to begin with , you are not particularly good at anyone in the woods .',
 'at the time it was not known , it was simply a very curious feature of our existence .',
 'to have an interesting , long - term idea that a life is extraordinary .',
 'with this new element of the universe , we are still on average around us .',
 'it is not a fact that we can do so soon after .',
 'the notion that a earth is so different from earth is the only thing we know about it .',
 'eventually , the little red changes that we have now achieved in our lives .',
 'the visitor is often more than one of the more attractive names in the world .',
 'is not the sort of thing we often used to do .',
 'has since left the earth in a state of nearly constant abundance .',
 'it is the only place where we can live .',
 'to be in that country , we know why it is the only thing that does ferris out ?',
 'the question of who wants to be with you is a question of irony .']

In [27]:
learn.save_encoder('ft_enc')

In [21]:
train_df.to_pickle('data/train_df.pkl')

In [22]:
valid_df.to_pickle('data/valid_df.pkl')

## What happens when Bryson, Wodehouse and Pratchett travel together?

In [9]:
with open('myData/bill-bryson.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
df_bryson = pd.DataFrame(data)

In [10]:
with open('myData/terry-pratchett.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
df_pratchett = pd.DataFrame(data)

In [11]:
with open('myData/p-g wodehouse.json', 'r', encoding='utf-8') as f:
    data = json.load(f)
df_wodehouse = pd.DataFrame(data)

In [24]:
df = df_bryson.merge(df_wodehouse, how='outer')#.merge(df_pratchett, how='outer')

In [25]:
df['author'].unique()
df = df[['quote', 'author']]
df['quote'] = df['quote'].str.lower()

In [26]:
valid_pct = 0.05 #validation percent
df = df.iloc[np.random.permutation(len(df))]
cut = int(valid_pct * len(df)) + 1
train_df, valid_df = df[cut:], df[:cut]

In [27]:
len(train_df), len(valid_df)

(765, 41)

In [28]:
nan_rows = df[df['quote'].isnull()]
nan_rows

Empty DataFrame
Columns: [quote, author]
Index: []

In [29]:
data_lm = TextLMDataBunch.from_df('data', train_df, valid_df, text_cols='quote',
                           label_cols='author')

learn_bwt = language_model_learner(data_lm, pretrained_model=URLs.WT103, drop_mult=0.5)
learn_bwt.fit_one_cycle(1, 1e-2)

In [32]:
learn_bwt.unfreeze()
learn_bwt.fit_one_cycle(1, 1e-3)

In [33]:
wd=1e-7
lr=1e-3
lrs = lr
learn_bwt.fit(10,lrs, wd)

In [34]:
learn_bwt.predict("xxbos", n_words=50, temperature=0.75)

"xxbos the two largest towns in the country are the people of the springs who live in a world that is sufficiently suited to their own lives and those whose lives they feel as if they had created themselves . xxbos the first person who could tell us was ' that"

In [35]:
number_of_ideas = 50
ideas_counter = 0
all_ideas = []

for i in range(1000):
    idea = learn_bwt.predict("xxbos", n_words=20, temperature=0.8)
    ideas = idea.split("xxbos")
    ideas = ideas[1:-1]
    
    for idea in ideas:
        idea = idea.replace("xxbos","").strip()
        if(idea):
            all_ideas.append(idea)
            ideas_counter = ideas_counter+1
#     print(ideas_counter)
            
    if ideas_counter > number_of_ideas:
        break

In [36]:
all_ideas

['this table is essentially an open place for most people to occupy .',
 'the english language is simply taking an atom name to it .',
 'a powerful human is an atom of moose , and oh , he was .',
 'we never have since followed up our lives and were ordered not to stand there .',
 "that 's why i love to live where i do n't .",
 'the computer used to be the first to question what it was that americans still lived in .',
 'he used to be her own father .',
 'i would have wanted to see what was happening . but it was a bad idea .',
 'the physical laws of sheep have never been tried before . they are in use today .',
 'the finger of the head of the beaver was a three - year - old .',
 'it is a good idea and it is the only time that people go with it .',
 'the cold war had no doubt that britain would be losing its way into the mediterranean .',
 'it is too chemicals to be more useful than we have .',
 'the french were almost certainly with british , or probably the most important part of the whole country .',
 'the first thing you do is think you have an advanced wonder about it .',
 'way of thinking about the existence of a universe is to be thoroughly complicated .',
 'the most useful part of the magic or magic system is magic .',
 'in the personal papers , the general effect is the question of where the papers were next .',
 'he was totally on the trail and not at the height of his civilization .',
 'and i was not certain that some letters were ever written about the father of god .',
 'in fact , the existence of a universe named for the earth is quite easily the most famous .',
 'the english language is simply “ the language of the english language ” , and so on .',
 'the english language does not always hold the iconic significance of nature .',
 'this was the time that the earth was over .',
 'there is no place in history for use in the world to be .',
 "that is a little wonder that there 's no point in going to anyone else 's mind .",
 'even this is the only instance in which an american people are mildly helpless .',
 'the influence of our future is that our universe has more of its universe than its own power .',
 'he led the way . that was the day of the exhibition .',
 'as a result , a person looks rather like a dead cow .',
 'this is making you feel that life should be a universe .',
 'the hotel is a place of great taste and pleasure .',
 'i saw he was trying to get clean from getting his eye open to a breath .',
 'but they said , ‘ they are really good at getting back .',
 'this is not always a way of getting in a better place .',
 "it 's also the sort of thing that would be recycled for a time .",
 'the british have no choice but to try to move home . we are not always well off .',
 'you are not actually actually confused .',
 'the spanish had a good deal of money .',
 'apparently , there is something you do n’t want to do about the future of the universe .',
 'the english form a “ hit on the',
 'it is a strange fact that we live in a world that fairly never once belonged to humans .',
 'the first thing we do is simply tell you .',
 'the writer would find a way of killing people in an quest to find the right place .',
 'they are , this is a miracle , they are part of our family .',
 'same life has never given us a history of good eating .',
 'the people who do n’t know how to make a mistake .',
 'the old man is the most ferocious man i have ever known .',
 'a friend , more has been given the degree to commonly used a female .',
 'the end of the twentieth century was the beginning of the rise of modern civilization .',
 'the mud is a curious feature of our lives .']